    /*Alles mit "ct-" einleiten, damit es unter den diversen css sheets eindeutig wird*/
    /*"Hallo, X!" in Navbar, X unterstrichen und weiß (da anklickbar)*/
    
    a.profil-nav:link {
        color: #FFFFFF;
        /*text-decoration: underline;*/
    }
    
    a.profil-nav:visited {
        color: #FFFFFF;
        /*text-decoration: underline;*/
    }
    
    a.profil-nav:hover {
        color: #afafaf;
        /*text-decoration: underline;*/
    }
    /*Platz für Navbar und eventuellen Footer, zudem etwas helleren Text.*/
    
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin: auto;
        color: #5a5a5a;
    }
    /*Mach es weiß*/
    
    .ct-white {
        color: white;
    }
    /*Text zentrieren*/
    
    .ct-text-center {
        text-align: center;
    }
    /*Formular zentrieren (user/signin.php)*/
    
    .ct-form-center {
        margin: auto;
        align-content: center;
    }
    /*Wenn <hr> zum "dividen" genutzt wird (landing/index.php)*/
    
    .ct-hr-divider {
        margin: 5rem;
    }
    
    .ct-hr-divider-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .ct-hr-divider-3 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    /*Wenn text zum "dividen" genutzt wird (user/signin.php)*/
    
    .ct-text-divider {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;
        text-align: center;
    }
    
    .ct-mid-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ct-font-size-2 {
        font-size: 2rem;
    }