/*Alles mit "ct-" einleiten, damit es unter den diversen css sheets eindeutig wird*/

/*"Hallo, X!" in Navbar, X unterstrichen und weiß (da anklickbar)*/
a.wel-me:link {
    color: #FFFFFF;
    text-decoration: underline;
}

a.wel-me:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

a.wel-me:hover {
    color: #afafaf;
    text-decoration: underline;
}

/*Platz für Navbar und eventuellen Footer, zudem etwas helleren Text.*/
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    color: #5a5a5a;
  
  }

/*Mach es weiß*/
.ct-white{
    color: white;
}

/*Text zentrieren*/
.ct-text-center {
    text-align: center;
}

/*Formular zentrieren (user/signin.php)*/
.ct-form-center {
    margin: auto;
    align-content: center;
}

/*Wenn <hr> zum "dividen" genutzt wird (landing/index.php)*/
.ct-hr-divider {
    margin: 5rem 0;
}

/*Wenn text zum "dividen" genutzt wird (user/signin.php)*/
.ct-text-divider {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

/*Panel gruppieren (user/signin.php)*/
.ct-panel-group [aria-expanded=true]{
    pointer-events: none;
}